@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors have rgb values without the 'rgb' text and parenthesis becaue it is being customized in tailwind.config.js */
@layer base {
  /* default light theme */
  :root {
    --color-accent: 0, 182, 199;
    --color-background: 229, 240, 255;
    --color-fill: 209, 232, 255;
    --color-bg-button: transparent;
    --color-bg-button-hover: 0, 182, 199;
    --color-bg-tab: transparent;
    --color-bg-tab-hover: 204, 232, 255;
    --color-text-base: 82, 92, 122;
    --color-text-heading: 61, 69, 92;
    --color-text-article: 25, 45, 102;
    --color-text-button: 255, 255, 255;
    --color-edge: 198, 212, 236;
  }

  body {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text-base));
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
}

[data-theme='dark'] {
  --color-accent: 102, 255, 219;
  --color-background: 10, 24, 46;
  --color-fill: 17, 34, 64;
  --color-bg-button: transparent;
  --color-bg-button-hover: 100, 255, 218;
  --color-bg-tab: transparent;
  --color-bg-tab-hover: 17, 34, 64;
  --color-text-base: 136, 146, 175;
  --color-text-heading: 204, 214, 246;
  --color-text-article: 168, 178, 209;
  --color-text-button: 102, 255, 219;
  --color-edge: 35, 52, 83;
}

[data-theme='custom'] {
  --color-accent: 77, 230, 194;
  --color-background: 35, 49, 71;
  --color-fill: 42, 59, 89;
  --color-bg-button: transparent;
  --color-bg-button-hover: 75, 230, 194;
  --color-bg-tab: transparent;
  --color-bg-tab-hover: 42, 59, 89;
  --color-text-base: 111, 121, 150;
  --color-text-heading: 179, 189, 221;
  --color-text-article: 143, 153, 184;
  --color-text-button: 77, 230, 194;
  --color-edge: 60, 77, 108;
}
